models/
metrics/
__pycache__
requirements_installed
.vscode/launch.json
.vscode/settings.json
resultados/main.html
resultados/metricas.html
resultados/test.pt
resultados/validation.pt
resultados/labels_test.npy
resultados/labels_validation.npy
resultados/labels_test_ruido.npy
resultados/labels_validation_ruido.npy
resultados/metricas_ruido.html
resultados/test_ruido.pt
resultados/validation_ruido.pt
